.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align:center;
}

.App-intro {
  font-size: large;
}

.movie-input {
  text-align:center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-right:10px;
  margin-left:10px;
}

.toast-text {
  font-size:1.5em;
}

.randomizing-btns {
  text-align:center;
  margin-top: 15px;
}

.randomizing-btns > button {
  margin-left:3px;
  margin-right:3px;
}
